<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuxi.shop.dao.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.wuxi.shop.pojo.Category">
    <constructor>
      <idArg column="cid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cname" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    cid, cname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category
    where cid = #{cid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from category
    where cid = #{cid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wuxi.shop.pojo.Category">
    insert into category (cid, cname)
    values (#{cid,jdbcType=VARCHAR}, #{cname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wuxi.shop.pojo.Category">
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        cid,
      </if>
      <if test="cname != null">
        cname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuxi.shop.pojo.Category">
    update category
    <set>
      <if test="cname != null">
        cname = #{cname,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuxi.shop.pojo.Category">
    update category
    set cname = #{cname,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=VARCHAR}
  </update>
  <select id="allCategoryList" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
  	from category
  </select>
  <select id="selectCategoryByCid" parameterType="java.lang.String" resultMap="BaseResultMap">
  select 
  <include refid="Base_Column_List" />
  from category
  where cid = #{cid}
  </select>
</mapper>